body{
    margin: 0;
}
.calculator {
    border: 2px solid;
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Header{
    border: 5px solid black;
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: beige;
    margin-bottom: 5%;
}

#result {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    text-align: right;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #eee;
}